#games-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 3rem;
    width: 90%;
    margin: 0 auto 80px;

    min-height: 500px;
}

.game-card {
    position: relative;
    background-color: #131218;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(240,198,116,0.3);
    transition: transform 0.8s ease, box-shadow 0.6s ease, opacity 0.8s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.game-card {
    opacity: 0;
    transform: translateY(50px);
}


.game-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.game-card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 
        0 0 40px rgba(240,198,116,0.5),
        0 0 80px rgba(240,198,116,0.35);
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 20px rgba(240,198,116,0.4), 0 0 40px rgba(240,198,116,0.2);
    }
    50% {
        box-shadow: 0 0 35px rgba(240,198,116,0.6), 0 0 70px rgba(240,198,116,0.3);
    }
    100% {
        box-shadow: 0 0 20px rgba(240,198,116,0.4), 0 0 40px rgba(240,198,116,0.2);
    }
}

.game-card > * {
    position: relative;
    z-index: 1;
}

.image-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(
        to bottom,
        rgba(19,18,24,0) 0%,
        rgba(19,18,24,1) 100%
    );
    pointer-events: none;
}

.game-card h2 {
    font-size: 28pt;
    color: var(--accent-color);
    margin: 15px 0 10px;
    text-shadow: 0 0 10px rgba(240,198,116,0.5);
}

.game-card p {
    font-size: 16pt;
    color: #ddd;
    padding: 0 20px 20px;
}

.game-button {
    margin-bottom: 20px;
    background-color: var(--accent-color);
    color: #121212;
    font-weight: 600;
    padding: 0.8em 1.8em;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.game-button:hover {
    background-color: #ffe299;
    transform: translateY(-3px);
}

@media (max-width: 900px) {
    #games-container,
    #jobs-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .game-card img {
        height: 200px;
    }

    .game-card h2 {
        font-size: 24pt;
    }

    .game-card p {
        font-size: 14pt;
    }
}