footer {
    background-color: #131218;
    text-align: center;
    padding: 2em;
    font-size: 0.9em;
    color: #aaa;
    margin-top: 2em;
}

.footer-buttons a {
    display: inline-flex;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.footer-buttons a:hover {
    background-color: #f0c674;
    color: #121212;
}

.footer-buttons a img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    filter: brightness(0) invert(1);
}