:root {
    --background-color: #1c1b22;
}


@font-face {
    font-family: inter;
    src: url("/assets/Inter-VariableFont_opsz\,wght.ttf");
}

html {
    overflow-x: hidden;

    font-family: "Inter";
}

body {
    margin: 0;
    padding: 0;
}

iframe {
    position: fixed;

    top: 0;

    z-index: 10000;

    width: 100vw;
    height: 65px;
}

a {
    text-decoration: none;
}

#start {
    width: 100vw;
    margin: 0 0;
    padding: 0;
}

#start > #welcome-background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: -1;
    
    height: 100%;
}

#welcome-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    width: 50vw;
}

#welcome-content > #welcome-logo {
    height: 20vh;

    border-radius: 100%;

    margin-bottom: 0px;
}

#welcome-content > #welcome-text {
    margin-top: -2px;
    font-size: 50pt;

    font-weight:600;

    color: #201408;
}

#about-us {
    background-color: var(--background-color);

    width: 100vw;
    height: 30vh;

    z-index: 200;
    margin-top: 94vh;

    text-align: center;

    padding-bottom: 50px;
}

#about-us-header {
    padding-top: 50px;

    font-size: 40pt;
    font-weight: 600;
}

#about-us-text {
    font-size: 23pt;
    font-weight: 300;

    margin: auto;
    width: 50vw;
}

footer {
    background-color: #131218;
    text-align: center;
    padding: 2em;
    font-size: 0.9em;
    color: #aaa;
    margin-top: 2em;
}

.footer-buttons a {
    display: inline-flex;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.footer-buttons a:hover {
    background-color: #f0c674;
    color: #121212;
}

.footer-buttons a img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    filter: brightness(0) invert(1);
}