@font-face {
    font-family: inter;
    src: url("/assets/Inter-VariableFont_opsz\,wght.ttf");
}

html {
    padding: 0;
    margin: 0;

    font-family: "inter";
}

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    background-color: black;
}

img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    margin-left: 10vw;

    height: 70%;

    border-radius: 100%;
}

h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    margin: 0;
    margin-left: calc(11vw + 70vh);

    color: white;

    font-weight: normal;
}


a {
    cursor: pointer;
}

#right-content-links {
    float: right;

    height: 100vh;
    margin-top: -20vh;

    width: fit-content;

    background-color: rgb(0, 136, 255);
}

#right-content-links > a{
    position: absolute;
    top: -10px;
    right: 0;

    font-size: large;

    margin-top: 0;

    color: rgba(255, 255, 255, 0.801);
    text-decoration: none;

    margin-top: 50vh;
}