<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Footer</title>

    
</head>

<body>
    <footer>
        <div class="footer-buttons">
            <a href="https://www.roblox.com/communities/36022187" target="_top"><img src="/assets/roblox-logo.png"
                    alt="Roblox Icon">Join our Roblox Group</a>
            <a href="https://discord.gg/R2sNr9dUVz" target="_top"><img src="https://cdn.iconscout.com/icon/free/png-256/discord-3-569463.png"
                    alt="Discord Icon">Join our
                Discord Server</a>
        </div>
        &copy; 2025 Crownforge Games. All rights reserved.
    </footer>
</body>

</html>